$text_color: grey
$title_color: #535353
$bg_color: #f2ecef
$input_color: #9D9D9D
$white_color: #ffffff
$accent_color: #AB0E66
$icons_color: #D4749A
$categories_bg: #f2ecef
$border_color: #DABCC6
$breakpoint_xxl: 1400px
$breakpoint_xl: 1200px
$breakpoint_lg: 992px
$breakpoint_md: 768px
$breakpoint_sm: 576px
$speed: 500ms



   
